<h1>Your Rooms</h1>

Our house has <% Room.public_count %> tasks and counting!

<ul>
  <% @rooms.each do |room| %>
    <% unless room.archived? %>
      <li>
        <%= link_to room.title, room%>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Room", new_room_path %>