<h1><%= @room.title %></h1>

<p><%= @room.room_image %><p>

<ul>
  <li><%= link_to "Edit", edit_room_path(@room) %></li>
  <li><%= link_to "Destroy", room_path(@room), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>